<div class="menu">
    <ul class="list-group ">
        <li class="list-group-item"><i class="fas fa-list"></i> @Html.ActionLink("List", "Index", "Home")</li>
        <li class="list-group-item"><i class="far fa-plus-square"></i> @Html.ActionLink("New", "news", "Home") </li>
        <li class="list-group-item"><i class="fas fa-search"></i> @Html.ActionLink("Search", "Index", "Home")</li>
    </ul>
</div>
