<div class="menu">
    <ul class="list-group ">
        <li class="list-group-item"><i class="fas fa-list m-1"></i> @Html.ActionLink("List", "Index", "Home")</li>
        <li class="list-group-item"><i class="far fa-plus-square m-1"></i> @Html.ActionLink("Create", "Create", "Home") </li>
        <li class="list-group-item"><i class="fas fa-search m-1"></i> @Html.ActionLink("Search", "Index", "Home")</li>
    </ul>
</div>
