@model IEnumerable<Cshap_Mvc.Models.BlogModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Cshap_Mvc.Models.BlogModel blog = ViewBag.blog;
}

<div class="content p-3">
    <div class="card-search">
        <div class="card">
            <div class="card-header">
                <h2>Search Blogs</h2>
            </div>
            <div class="card-body row">
                @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "needs-validation row", novalidate = "" }))
                {
                    <div class="col-md-2">
                        <label for="Title" class="col-form-label">Tiêu đề</label>
                    </div>
                    <div class="col-md-10 ">
                        @Html.TextBox("Title", blog.Title, new { @class = "form-control", placeholder = "Tiêu đề" })
                    </div>
                    <div class="text-center mt-2 ">
                        <button class="btn btn-outline-success" type="submit"> Search</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="list-blog mt-5">
        <div class=" card">
            <div class="card-header">
                <h2> List Blog</h2>
            </div>
            <div class="card-body p-0">
                @{ 
                    Html.RenderPartial("_TableList_Blog", Model);
                }
            </div>
        </div>
    </div>

</div>

