@model IEnumerable<Cshap_Mvc.Models.BlogModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Cshap_Mvc.Models.BlogModel blog = ViewBag.blog;
}

<div class="content p-3">
    <div class="card-search">
        @{
            Html.RenderPartial("_FormSearch_Blog", blog);
        }
    </div>
    <div class="list-blog mt-4">
        @{
            Html.RenderPartial("_TableList_Blog", Model);
        }
       
    </div>

</div>

